extends base
include mixins/picture

block content
    .jumbotron
        h1 La Ciutat del coche
        a.btn.btn-primary.btn-lg(href='#', role='button') Ofertes del mes 
    div.row
        div.col-md-12
            - for (var i = 0; i < 10; ++i) {
                +picture(pics[i].image, pics[i].getPrice())
            - }
